<form class="main_form" [formGroup]="InputField" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <div class="cols-2">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Your Name" formControlName="firstname">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Your Surname" formControlName="lastname">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="cols-2">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="mail@gmail.com" formControlName="email">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="cols-2">
        <mat-radio-group aria-label="Select an option" formControlName="Experience">
          <mat-label><b>Job-Experience</b></mat-label>
          <mat-radio-button value="Male">Fresher</mat-radio-button>
          <mat-radio-button value="Female">Experience</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="row">
      <div class="inputfields cols-2">
        <mat-form-field appearance="outline">
          <mat-label>Education</mat-label>
          <input matInput placeholder="Education" formControlName="Education">
        </mat-form-field>
        <div class="example-button-container">
          <button mat-fab color="warn" type="button" aria-label="Example icon button with a home icon"
            (click)="addRepeats()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="inputfields row-2 cols-2"> -->
    <div formArrayName="Repeats" class="inputfields cols-2">
      <div *ngFor="let Education of Repeats.controls; let i = index">
        <mat-form-field appearance="outline">
          <mat-label>Education{{i+1}}</mat-label>
          <input matInput placeholder="Education" formControlName={{i}}>
        </mat-form-field>
      </div>
    </div>
    <!-- </div> -->
  </div>

  <button mat-raised-button color="accent" type="button" class="btn-bottom">Cancel</button>
  <button mat-raised-button color="primary" type="submit" class="btn-bottom">save</button>
</form>














<!-- <form class="main-form">
  <div class="row">
  <div class="cols-2">
<mat-form-field appearance="fill">
  <mat-label>firstName</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>lastName</mat-label>
  <input matInput>
</mat-form-field>
</div>
</div>
<div class="row">
<div class="cols-2">
  <mat-form-field appearance="fill">
    <mat-label>firstName</mat-label>
    <input matInput>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>lastName</mat-label>
    <input matInput>
  </mat-form-field>
  </div>
  </div>
</form> -->